@layout("/common/layout.html"){

<style>
		.topic{position:relative;width: 100%;overflow: hidden;padding: 10px 0;border-top: 1px solid #ddd}
   		.result{color: #aaa; font-size: 16px;font-style: italic;}
   		.searcher {border-bottom: 1px solid #eee;padding: 8px 0;}
   		.searcher a{display: block;max-height: 60px;overflow: hidden;}
   		.searcher small{color: #aaa;font-style: italic;}
</style>
			<h5><span class="result">${pagename,xss} </span>的搜索结果：<span class="result">${resultnum}</span> 条</h5>
			<hr/>
			<div id="searcher-list">
       		@ for(searcher in searcherPage.list!){
				<div class="searcher">
					<div>匹配度：<small>${searcher.score,'##.##'}</small></div>
					<a href="${ctxPath}/bbs/topic/${searcher.topicId}-1.html">
						${searcher.content}
					</a>
				</div>
			@}
       </div>
	   <#page query="${searcherPage}"/>
@}    