@layout("/common/layout.html",{requriedUEditor:true}){
@ var _user = c.currentUser(request, servlet.response); 
@ var isAdmin = 'admin'== (_user.userName!"");
	 
      <div class="col-sm-9 animated fadeInRight">
       <#page query="${postPage}"/>
           <div class="mail-box-header">
               
               <h2>
               
           		</h2>
               <div class="mail-tools tooltip-demo m-t-md">


                   <h3>
                   <span class="font-noraml">主题： </span>${topic.content}
               </h3>
                  
               </div>
           </div>
           @for(post in postPage.list){
           <div class="mail-box">


               <div class="mail-body">
               <button type="button" class="btn btn-default btn-xs">${printTime(post.createTime)}</button>
               <button type="button" class="btn btn-default btn-xs">${post.bbsUser.userName}</button>
               @if(_user.id!0==post.userId||isAdmin){
                
               <a class="btn btn-primary btn-xs" href="${ctxPath}/bbs/admin/post/edit/${post.id}.html">修改</a>
               <a class="btn btn-primary btn-xs" href="${ctxPath}/bbs/admin/post/delete/${post.id}.html">删除</a>
				
			   @}
			   
               <div class="md-content" id="editormd-markdown-doc-${post.id}">
                 <textarea style="display:none;">${post.content}</textarea>         
             
     </div>
     
    
     <div class="mail-reply">
     	
     	@for(reply in post.replys){
     		<div class="alert alert-warning">
             @include("/common/replyItem.html",{"reply":reply}){}
         	</div>
    	 	@}
    	  	</div>
    	  	 @if(_user!=null){
    	  	 @include("/common/replyForm.html",{"post":post,"topic":topic}){};
    	  	 @}
     </div>
   
    
</div>
  @}
  <#page query="${postPage}"/>
  @if(_user!=null){
  <form id="postForm" action="${ctxPath}/bbs/post/save.html" method="POST"> 
  <div class="mail-box">
		  
		  <input type="hidden" name="topicId" value="${topic.id}">
          <div id="test-editormd">
                  <textarea id="postContent" name="content"></textarea>
          </div>
          
         <div class="clearfix"></div>
 </div>
 
 <div class="mail-body text-right tooltip-demo">
     <button class="btn btn-sm btn-primary" onclick="return savePost(this)" title="Send"><i class="fa fa-reply"></i> 提交</button>
  </div>

</form>

<div class="clearfix"></div>
@}
</div>
        </div>
    </div>
</div>
@}

 <script>
	
 function savePost(v){
	 $(v).closest("form").subimt();
	 
 }

 function saveReply(v){
     if($(v).parent().parent().children('input[type=text]').val() == ''){
         alert('内容不能为空');
         return false;
     }
     $.post(
         $(v).attr("data"),
         $(v).parent().parent().parent().serialize(),
         function(data){
             if(data == "error"){
                 alert("评论不能为空，且不超过200字 :(");
             }else{
             	var container = $(v).closest(".mail-body").children(".mail-reply")
                 var input = $(container).html();
             	data="<div class='alert alert-warning'>"+data+"</div>"
             	$(container).html(data+input);
             	//如何赋值？
             	$(v).parent().parent().children('input[type=text]').val("")
                
             }
         },
         "html"
     );
     return false;
 }
 function replyPaginate(v){
     $.post(
         $(v).attr("data"),
         function(data){
             $(v).closest(".-reply-list").html(data).hide().fadeIn(2000);
         },
         "html"
     );
 }
 function replyThisUser(v){
     var footer = $(v).closest(".-post-footer").find("textarea").focus().val("回复 \@" + $(v).attr("data") + " ");
 }
 function login(v){
     var passwordInput = $(v).closest("form").find("input[name='password']");
     passwordInput.val(md5(passwordInput.val()));
     return true;
 }
</script>

