@layout("/common/layout.html"){
@ var _user = c.currentUser(request, servlet.response); 
@ var isAdmin = 'admin'== (_user.userName!"");
		<h3>列表</h3>
       <div class="well well-sm">
	       <table class="table table-hover table-striped" id="post-list">
	       	<thead>
	       		<tr>
	       		<th></th>
	       		<th>发帖</th>
	       		<th style="width:40%">标题</th>
	       		
	       		<th>回复</th>
	       		<th></th>
	       		@if(isAdmin){   
				<th >管理</th>
				@}
				</tr>
	       	</thead>
	           <tbody>
	           	@ for(topic in topicPage.list!){
	               <tr data-topic="${topic.id}">
	                   <td>
	                   @if(topic.isUp>0){
							<span class="label label-danger">重要</span>
						@}
						@if(topic.isNice>0){
							<span class="label label-warning ">精品</span> 
						@}
	                   </td>
	                   <td><a href="#">${topic.userName}</a></td>
	                   <td><a href="${ctxPath}/bbs/topic/${topic.id}-1.html">${topic.content,xss}</a></td>
	                   
	                   <td><span class="label label-warning ">${topic.postCount}</span></td>
	                   <td class="text-right ">${printTime(topic.createTime)}</td>
	                   @if(isAdmin){
					<td class="text-right mail-date">
						<div class="btn-group" id="admin">
							<a href="javascript:;"  class="btn btn-default btn-xs nice-btn">精华</a>
							<a href="javascript:;"  class="btn btn-default btn-xs top-btn">置顶</a>
							<a href="javascript:;"  class="btn btn-default btn-xs del-btn">删除</a>
						</div>
					</td>
					@}
	               </tr>
	               @}
	           </tbody>
	       </table>
	       <#page query="${topicPage}"/>
       </div>
       <script>
       $('#post-list').on('click','.nice-btn',function(){
    	   $.post('${ctxPath}/bbs/admin/topic/nice/'+$(this).parents('tr').data('topic'),function(json){
    		   json.err||location.reload();
    	   })
       }).on('click','.top-btn',function(){
    	   $.post('${ctxPath}/bbs/admin/topic/up/'+$(this).parents('tr').data('topic'),function(json){
    		   json.err||location.reload();
    	   })
       }).on('click','.del-btn',function(){
    	   var topicid = $(this).parents('tr').data('topic');
    	   $.confirm('确定要删除该主题么？',function(e){
    		   e&&$.post('${ctxPath}/bbs/admin/topic/delete/'+topicid,function(json){
        		   json.err||location.reload();
        	   })
    	   })
       })
       </script>
@}    