@layout("/common/layout.html",{requriedUEditor:true}){
        <div class="col-sm-9 animated fadeInRight">
            <div class="mail-box">
				<form action="${ctxPath}/bbs/topic/save.html" method="post">
                <div class="mail-body">

                        <select class="form-control m-b" name="moduleId">
                        	@for(moudle in moduleList){
                              <option value="${moudle.id}">${moudle.name} </option>
                            @}

                         </select>
                       <input type="text" class="form-control" name="title" placeholder="标题">

                </div>

                  <div class="mail-body">

                     <div id="test-editormd">
                             <textarea id="postContent" name="postContent"></textarea>
                     </div>
                    <div class="clearfix"></div>
                </div>
                <div class="mail-body text-right tooltip-demo">
                    <button class="btn btn-sm btn-primary" onclick="return savePost(this)" title="Send"><i class="fa fa-reply"></i> 提交</button>
                  </div>
                <div class="clearfix"></div>
            </div>
           </form>
        </div>
     </div>
 </div>
 <script>
 
 function savePost(v){
	 $("form").submit(function(e){
	});
 }
 
 </script>
 @}